<h5 class="mb-3">About {{author.name}}</h5>
<div class="row">
    <div class="col-md-4">
        {% if author.avatar_url %}
        <img class="author-profile-img mx-auto d-block my-3" src="/assets/img/authors/{{author.avatar_url}}" alt="{{author.name}}" />
        {% else %}
        <img class="author-profile-img mx-auto d-block my-3" src="{{site.url}}/assets/img/authors/{{author.avatar}}"
            alt="{{author.name}}" />
        {% endif %}
    </div>
    <div class="col-md-8">
        <p class="author_bio">{{author.bio}}</p>
        <p>Email : {{author.email}}</p>
        <p>Website : {{author.site}}</p>
        <p class="profile-links">
            {% for network in author.social %}
            {% include social-link.html title=network.title url=network.url %}
            {% endfor %}
        </p>
    </div>
</div>