html {
    --button-primary-background-color: #bb2d20;
    --button-primary-interact-background-color: white;
    --button-primary-text-color: white;
    --button-primary-interact-text-color: #bb2d20;
    --button-primary-border-color: white;
    --card-background-color: rgb(32, 32, 34);
    --link-color: #bb2d20;
    --main-background-color: rgb(14, 14, 15);
    --main-text-color: white;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        color: var(--link-color);
    }
}

a.social-link svg {
    width: 32px;
    height: auto;
    fill: var(--link-color);
}

.btn-primary {
    background-color: var(--button-primary-background-color);
    border-color: var(--button-primary-background-color);
    color: var(--button-primary-text-color);

    &:active, &:hover {
        background-color: var(--button-primary-interact-background-color);
        border-color: var(--button-primary-interact-background-color);
        color: var(--button-primary-interact-text-color);
    }
}

.card {
    background-color: var(--card-background-color);
}

.list-group-item {
    background-color: transparent;
}

// ---- //
// MENU //
// ---- //
.navbar {
    background-color: var(--main-background-color);
}

.navbar-brand {
    color: var(--main-text-color);   
}

.nav-link {
    color: var(--main-text-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link:focus, .nav-link:hover {
    color: var(--link-color);
}

// ---- //
// POST //
// ---- //
#post img {
    max-width: 100%;
}

.post-featured-image {
    width: 100%;
}

.page-link, .page-item.active .page-link {
    background-color: var(--button-primary-background-color);
    border-color: var(--button-primary-border-color);
    color: var(--button-primary-text-color);

    &:active, &:hover {
        background-color: var(--button-primary-interact-background-color);
        border-color: var(--button-primary-border-color);
        color: var(--button-primary-interact-text-color);
    }
}

.author-profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/// ABOUT ME

.company-logo {
    max-width: 100px;
    max-height: 100px;
}