---
layout: default
---
{% assign author = site.authors | where: "short_name", site.author_me | first %}
<div class="col-lg-4">
    <div class="card text-center">
        <div class="card-body">
            <h1>About Me</h1>
            <img class="author-profile-img m-3" src="{{site.url}}/assets/img/authors/{{author.avatar}}" alt="{{author.name}}" />
            <p>{{ author.name }}</p>
            <p>{{ author.country }}</p>
        </div>
    </div>
</div>
<div class="col-lg-8">
    <div class="card">
        <div class="card-body">
            <h2>Work Experience</h2>
            {% for item in site.data.work-experience %}
            {% if item.visibility == true %}
            <div class="row">
                <div class="col-md-2">
                  <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ item.company_logo }}" class="company-logo" />
                </div>
                <div class="col-md-6">
                  <h4>{{ item.designation }}</h4>
                  <h6>{{ item.company_name}}<ge/h6>
                  <p>{{ item.description }}</p>
                  <p><a href="{{item.company_url}}">{{ item.company_url}}</a></p>
                </div>
              </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>